<div class="container">
  <h2>Recommendations</h2>
  <div class="cards__container">
    <p-carousel
      [value]="movies()"
      [numVisible]="4"
      [numScroll]="1"
      [circular]="true"
      [autoplayInterval]="3000"
      [responsiveOptions]="responsiveOptions"
    >
      <ng-template pTemplate="item" let-item>
        <app-movie-card
          *ngIf="mediaType === 'movie'"
          [movie]="item"
        ></app-movie-card>
        <app-tv-shows-card
          *ngIf="mediaType === 'tv'"
          [show]="item"
        ></app-tv-shows-card>
      </ng-template>
    </p-carousel>
  </div>
</div>
