<div class="container">
  <app-hero></app-hero>
  <h2>Now Playing</h2>
  <div class="cards__container">
    <app-movie-card
      *ngFor="let movie of movies()"
      [movie]="movie"
    ></app-movie-card>
  </div>

  <!-- Pagination -->
  <div class="pagination-container">
    <p-paginator
      [rows]="rows"
      [totalRecords]="totalRecords"
      [showCurrentPageReport]="true"
      currentPageReportTemplate="Showing {first} to {last} of {totalRecords} movies"
      [showPageLinks]="true"
      [showFirstLastIcon]="true"
      [rowsPerPageOptions]="[20]"
      (onPageChange)="onPageChange($event)"
    >
    </p-paginator>
  </div>
</div>
