<div class="container">
  <app-hero [activeTabValue]="activeTabValue"></app-hero>

  <p-tabs [(value)]="activeTabValue" (onChange)="onTabChange($event)">
    <p-tablist>
      <p-tab [value]="0">Movies</p-tab>
      <p-tab [value]="1">TV Shows</p-tab>
    </p-tablist>

    <p-tabpanels>
      <p-tabpanel [value]="0">
        <app-movies></app-movies>
      </p-tabpanel>

      <p-tabpanel [value]="1">
        <app-tv-shows></app-tv-shows>
      </p-tabpanel>
    </p-tabpanels>
  </p-tabs>
</div>
