<div class="container">
  <div class="details-layout">
    <figure class="image-wrapper">
      <img
        *ngIf="item?.poster_path"
        [src]="'https://image.tmdb.org/t/p/w500' + item.poster_path"
        [alt]="item?.title"
      />
    </figure>

    <div class="details-info">
      <h2>{{ item?.title }}</h2>
      <p><strong>Release Date:</strong> {{ item?.release_date }}</p>
      <div class="rating-section">
        <div class="stars">
          <i
            *ngFor="let star of getStars()"
            [class]="star === 'filled' ? 'pi pi-star-fill' : 'pi pi-star'"
            [style.color]="star === 'filled' ? '#ffe353' : '#ddd'"
          ></i>
        </div>
        <p class="vote-count">{{item.vote_count}}</p>
      </div>

      <div class="overview" *ngIf="item.overview">
        <p>{{ item.overview }}</p>
      </div>
      <p><strong>Genres:</strong> {{ genreNames }}</p>
      <p><strong>Duration:</strong> {{ durationText }}</p>
      <p><strong>Languages:</strong> {{ languageNames }}</p>
      <p><strong>Production Companies:</strong> {{ companyNames }}</p>
    </div>
  </div>

  <div class="recommendations">
    <app-recommendations [mediaType]="mediaType"></app-recommendations>
  </div>
</div>
