.p-inputgroup {
  display: flex;
  align-items: center;
  gap: 1.8125rem;
  input {
    width: 90%;
    border-width: 3px;
    &:focus {
      outline: 2px solid #ffe353 !important;
      box-shadow: 0 0 0 2px #ffe35333;
      border-color: #ffe353 !important;
    }
    &:hover {
      border-color: #ffe353 !important;
    }
  }
  button {
    background-color: #ffe353;
    border: none;
    color: #000;
    transition: all 0.3s;
    &:hover {
      opacity: 0.5;
    }
  }
}
